.mainHeader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;    
    display: flex;
    align-items: center;
    background: $color-primary;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
        background-color: $color-white;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 2rem;
            max-width: 22rem;
            min-height: 6rem;

            img {
                max-height: 3rem;
            }
        }
    }

    &__links {
        display: flex;
        padding-right: 2rem;
        align-items: center;
        justify-content: flex-end;
        
        .dropdown {
            display: flex;
            font-size: 1.6rem;
            
            button {
                display: flex;
                align-items: center;
                border: none;
                outline: none;
                background: none;
                padding: 1rem;
                color: #ffffff;

                .userIcon {
                    font-size: 2rem;
                    margin-right: 10px;
                }
                i {
                    margin-left: 5px;
                }
            }

            .dropdown-menu {
                min-width: 16rem;
                font-size: 1.5rem;
            }
        }
    }
}