.dashboard {
    position: relative;
    z-index: 1;
    display: flex;

    &__menu {
        flex-shrink: 1;
        flex-basis: 26rem;
        min-width: 26rem;
        background-color: white;
        box-shadow: 5px 0 5px 0 rgba(black, 0.03);

        display: none;
    }

    &__content {
        flex-grow: 1;
        padding: 5rem 3rem;
        flex-basis: auto;
    }
}

.profileBox {
    position: relative;
    display: flex;
    align-items: center;

    &__picture {
        position: relative;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #ddd;

        img {
            width: 8rem;
            min-height: 8rem;
        }
        .updatePic {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 1.2rem;
            color: white;
            text-align: center;
            padding-top: .5rem;
            padding-bottom: 1rem;
            text-transform: uppercase;
            background-color: rgba(black, 0.7);
            transform: translateY(100%);
            transition: all .4s ease-out;
        }

        &:hover {
            .updatePic {
                transform: translateY(0);
            }
        }
    }

    &__info {
        padding-left: 3rem;

        .name {
            font-size: $big-font-size;
        }
    }
}

.documentBox {
    display: flex;
    align-items: flex-start;

    &__item {
        width: 32%;
        display: flex;
        margin-left: 2%;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        &:first-child, &:nth-child(3n+1) { margin-left: 0; }

        .label {
            width: 100%;
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #cccccc;
        }

        .btn {
            margin-right: 5px;
            &:last-child { margin-right: 0; }
        }
    }

    &--webcam {
        position: relative;
        z-index: 1;
        display: flex;

        .myCamera {
            display: none;
            width: 34rem;
            height: 24rem;
            margin-bottom: 2rem;
        }
        .results {
            position: absolute;
            top: 5.6rem;
            left: 0;
        }
        .btnBox {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
        }
    }
}

.instructionsBox {
    position: relative;
    z-index: 1;
    padding: 3rem;
    margin: 2rem 0 3rem;
    background: $color-grey-light-3;

    .timer {
        position: absolute;
        top: 2rem;
        right: 2rem;
        padding: 1.2rem 3rem;
        border-radius: 2.5rem;
        background-color: $color-tertiary;
    }
}

.quizzeQuestionBox {
    display: flex;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ddd;

    &__left {
        width: 80%;
        flex-basis: 80%;
    }

    &__right {
        width: 20%;
        flex-basis: 20%;
        flex-shrink: 1;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        padding: 2rem;
    }
}

.stepCompleted {
    display: flex;
    flex-wrap: wrap;
    max-height: 30rem;
    overflow: auto;
    justify-content: space-between;

    &__item {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        justify-content: space-evenly;

        width: 19%;
        height: 3rem;
        cursor: pointer;
        color: #333333;
        margin-bottom: 5px;

        &.checked { background: rgb(4, 177, 18); color: white; }
        &.skiped { background: rgb(223, 171, 0); color: white; }
        &.pemding { background: rgb(233, 124, 0); color: white; }

        &:last-child { margin-right: auto; margin-left: 2px; }

        &:hover {
            border-color: #666666;
        }
    }
}

.quizzeProgressBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1rem;
    background-color: #ddd;

    .progress {
        height: 1rem;
        background-color: $color-primary;
    }
}

.quizzeQuestions {
    padding: 0;

    ul {
        padding: 0;
        list-style: none;
        
        li {
            position: relative;
            z-index: 1;
            margin-bottom: 2rem;

            label {
                font-size: 1.7rem;
                margin: 0;
                display: flex;
                cursor: pointer;
                align-items: center;
            }

            input { opacity: 0; position: absolute; top: 0; left: 0; }
            
            .icon {
                display: block;
                width: 2.2rem;
                height: 2.2rem;
                margin-right: 1rem;
                border-radius: 50%;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                justify-content: center;

                &:before {
                    display: block;
                    content: '';
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    background-color: $color-primary;
                    transform: scale(0);
                    opacity: 0;
                    transition: all .1s ease-out;
                }
            }

            input:checked ~ .icon {
                border-color: $color-primary;
                &:before {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
        
        &.typeImage {
            display: flex;

            li {
                margin-left: 2rem;
                &:first-child { margin-left: 0; }
                
                label {
                    display: block;
                }

                .image {
                    display: block;
                    width: 150px;
                    height: 150px;
                    border: 1px solid #ddd;
                }

                .icon { 
                    margin: 1.5rem auto 0;
                }
            }
        }
    }

    .btnBox {
        display: flex;
        align-items: center;
        margin-top: 4rem;

        .btn {
            margin-right: 5px;

            &:last-child { margin-right: 0; }
        }
    }
}

.quizzeTimer {
    position: absolute;
    top: 3rem;
    right: 0;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1rem 0 0 1rem;
    background-color: $color-tertiary;

    span {
        display: block;

        &.timeLeft {
            font-size: $big-font-size;
            margin-left: 1rem;
            color: red;
        }
    }
}

.cameraWidget {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20rem;
    height: 12rem;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        min-height: 100%;
        max-height: 100%;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: .5rem;
        opacity: 1;
        cursor: pointer;
        background-color: $color-secondary;

        img {
            width: 1.6rem;
        }
    }
}